.section-title h3 {
  font-size: 44px;
  line-height: 56px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}
@media (max-width: 767px) {
  .section-title h3 {
    font-size: 30px;
    line-height: 45px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-title h3 {
    font-size: 32px;
    line-height: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-title h3 br {
    display: none;
  }
}
.section-title span {
  font-size: 16px;
  color: #0060ac;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin-bottom: 13px;
  display: block;
  text-transform: uppercase;
}

.section-title.text-white h3 {
  color: #fff;
}
.section-title.text-white p {
  color: #fff;
  font-size: 16px;
}

.about-area .section-title {
  padding-left: 77px;
  
}
@media (max-width: 767px) {
  .about-area .section-title {
    padding-left: 0;
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-area .section-title {
    padding-left: 0;
    margin-top: 30px;
  }
}

.about-area .about-thumb {
  position: relative;
}
.about-area .about-thumb img {
  width: 100%;
}

a.boxed-btn{
  padding: 10px 20px;
  background-color: #0060ac;
  color: #fff;
}

a.boxed-btn:hover{
  background-color: #0f6ebd;
  text-decoration: none;
}