.para-text {
    color: #5c5c5c;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 55px;
    font-size: 16px;
    text-align: left;
  }

  .section-title h3 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
  }
  @media (max-width: 767px) {
    .section-title h3 {
      font-size: 30px;
      line-height: 45px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .section-title h3 {
      font-size: 32px;
      line-height: 48px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .section-title h3 br {
      display: none;
    }
  }
  .section-title span {
    font-size: 16px;
    color: #ff5e13;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin-bottom: 13px;
    display: block;
    text-transform: uppercase;
  }
  .section-title .para-text {
    color: #5c5c5c;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 55px;
    font-size: 16px;
  }
  .section-title.text-white h3 {
    color: #fff;
  }
  .section-title.text-white p {
    color: #fff;
    font-size: 16px;
  }
  