.slider-area{
  margin-bottom: 50px;

}
.slider-area .single-slider {
  height: 760px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .slider-area .single-slider {
    height: 600px;
  }
}
.slider-area .single-slider .slider-content {
  background: linear-gradient(121deg, rgba(1,108,190,1) 0%, rgba(3,89,154,1) 100%);
  position: absolute;
  left: 0;
  bottom: 10;
  width: 100%;
  z-index: 9;
  display: inline-block;
}
@media (max-width: 767px) {
  .slider-area .single-slider .slider-content {
    padding: 10px;
  }
}
.slider-area .single-slider .slider-content p {
  color: rgb(0, 96, 172);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}
.slider-area .single-slider .slider-content h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .slider-area .single-slider .slider-content h3 {
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 10px;
  }
}
.slider-area .slider-active .owl-dots {
  position: absolute;
  top: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
}
.slider-area .slider-active .owl-dots div {
  width: 15px;
  height: 15px;
  background: transparent;
  display: block;
  margin: 13px 0;
  border-radius: 50%;
  border: 2px solid #fff;
}
.slider-area .slider-active .owl-dots div .active {
  background: #fff;
}
.slider-area .slider-active .owl-dots div.active {
  background: #fff;
}

.bg-img-1{
    background-image:url(../img/slider/slider-img-1.jpg)
}
.owl-carousel .owl-nav div {
  background: transparent;
  height: 65px;
  left: 0px;
  line-height: 65px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 65px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #363d4f;
}
.owl-carousel .owl-nav {
  position: relative;
}
.owl-carousel .owl-nav div.owl-next {
  left: 86px;
  right: auto;
}
.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  right: 2px;
}
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}
.owl-carousel:hover .owl-nav div:hover {
  color: #ff5e13;
}

.slider-area .single-slider .slider-content-default {
  background: linear-gradient(121deg, rgba(1,108,190,1) 0%, rgba(3,89,154,1) 100%);
  padding: 30px 50px 0px;
  position: relative;
  z-index: 9;
  display: inline-block;
}
@media (max-width: 767px) {
  .slider-area .single-slider .slider-content-default {
    padding: 20px 40px 20px 40px;
  }
}

.slider-area .single-slider .slider-content-default h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #ffffff;
  line-height: 72px;
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .slider-area .single-slider .slider-content-default h3 {
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 10px;
  }
}